/*-- scss:defaults --*/

blockquote {
    color: rgb(200, 200, 200) !important;

    a,
    :link {
        color: inherit;
        font-weight: bolder;
    }
}

.cls-site-logo {
    display: block;
    margin: 50px auto 100px;
    text-align: center;

    img {
        border-radius: 200px;
        width: 200px;
        height: 200px;
        border: 5px solid rgba(80, 80, 80, 0.75);
    }
}

.quarto-title-meta-heading {
    visibility: hidden;
}

.quarto-title-meta-contents {
    font-style: italic;
}

/* SIDEBAR */
nav#quarto-sidebar{
    // display: none;
}

nav.page-navigation {
    background-color: white;
    color: grey;
}

/* ANIMATION DU LOGO */
.cls-site-logo img:hover {
    transform: rotate(180deg);
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    cursor: none;
}

.cls-site-logo img {
    animation-name: rotateImageOnPageLoad;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    transition: transform 1s;
}

@keyframes rotateImageOnPageLoad {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
